* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  z-index: -1;
}

label {
  visibility: hidden;
  display: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

#main-content {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-width {
  display: flex;
  flex-direction: row;
  width: 40rem;
  padding: 1rem 2rem;
  justify-content: flex-start;
}

#header {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto auto;
  gap: 5rem;
  justify-content: space-evenly;
}

li {
  list-style: none;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  border-bottom: 1px solid  #c5b9b9;
}

h2 {
  font-size: 1.8rem;
}

form input {
  border: none;
  border-bottom: 1px solid  #c5b9b9;
  padding: 0.25rem 0.5rem;
}

input:focus {
  outline: none;
}

#error-msg,
#empty-fields {
  display: none;
  color: #f44336;
  padding: 0.25rem;
  font-size: 0.9rem;
  background: #ffcdd2;
  border-radius: 5px;
  max-width: 11.5rem;
}

.scores-data {
  border-bottom: none;
  padding: 0 1rem 1rem 0;
  max-height: 15rem;
  overflow-y: scroll;
  box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
}

.scores-header {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 16px;
}

#form-data {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 0;
  box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
}

.btn-width {
  display: flex;
  align-items: center;
}

form .btn-width {
  justify-content: flex-end;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  color: #312c2c;
  font-size: 0.8rem;
  transition: all;
  transition-duration: 0.35s;
}

.btn:hover {
  font-size: 1rem;
  padding: 1rem 1.75rem;
  cursor: pointer;
}

.btn:active {
  background-color: #588870;
  color: black;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #808080;
  padding: 1rem 0.5rem;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5rem;
    justify-content: space-evenly;
  }

  .header-width {
    flex-direction: row;
    width: 20rem;
    padding: 1rem;
    justify-content: flex-start;
  }

  .btn:hover {
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
  }

  #main-content {
    justify-content: flex-start;
  }

  .scores-data{
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .btn:hover {
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
  }
}
